# Copyright (c) 2023 Contributors to the reclient-configs project. All rights reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#    http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# This config is merged with Chromium config. See README.md.

# Unset Chromium variables.
service=
instance=
automatic_auth=
metrics_namespace=
log_format=
compression_threshold=
max_concurrent_streams_per_conn=
max_concurrent_requests_per_conn=
min_grpc_connections=
cas_concurrency=
fail_early_min_action_count=
fail_early_min_fallback_ratio=

# NativeLink auth (no TLS, no auth)
service_no_security=true
service_no_auth=true

# Recommended
upload_buffer_size=10000
enable_deps_cache=true
experimental_goma_deps_cache=true
use_batches=true
clang_depscan_ignored_plugins=find-bad-constructs,raw-ptr-plugin,unsafe-buffers
